/* src/components/VideoUploadPlayer.css */
.video-upload-container {
  text-align: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.video-upload-container.uploaded {
  max-width: 50%;
  flex-grow: 1;
}

.video-container {
  margin-top: 20px;
  position: relative; /* Position the video correctly */
}

.video-element {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid rgb(7, 106, 167);
}

.pose-overlay {
  width: 100%; /* Ensure the canvas matches the video width */
  height: auto; /* Adjust the canvas height to match the video */
  border: 2px solid red; /* Add a border to see the canvas */
  margin-top: 20px; /* Add space between buttons and canvas */
}

.button-row {
  display: flex;
  justify-content: space-evenly; /* Distributes buttons evenly across the row */
  margin-top: 20px;
}

.button-with-label button {
  padding: 10px 10px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

.button-with-label button:hover {
  background-color: #c0c0c0;
}

.button-with-label button.active {
  background-color: #36c04d; /* Example color for active state */
  color: rgb(0, 0, 0); /* Optional: change text color when active */
}
